.main-header, header {
  font-size: xx-large;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.profilepic {
  height: 250px;
  width: 250px;
  border-radius: 2%;
}
#resume-btn {
  background-color: #814737;
  color: whitesmoke;
}
.desc-card {
  border-radius: 2%;
  background-color: rgba(76, 111, 122, 0);
  justify-content: center;
  display: flex;
}
.desc-text{
  font-size:medium;
  font-weight: 500;
}

