.cards{
    display: flex;
    flex-wrap: wrap;
}
.card {

}
li {
    width: 100%;
}
.project-icon {
    height: 150px;
    width: 150px;
}
.project-card {
    background-color:  #6189b68c;
}

#container0,
#container1,
#container2 {
  background-color: #35242144;
}
.project-btn{
    justify-content: center;
  }
a {
    color: black;
    font-size: x-large;
}
