.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-icon {
  height: 150px;
  width: 150px;
}
.project-btn {
  justify-content: center;
}
.project-card {
  display: inline-block;
  margin-top: 25px;
  font-size: large;
  text-align: center;
  padding: 5px;
  background-color: #946f6dbd;
  border-radius: 20%;
  font-family: 'Calligraffitti', cursive;
  font-family: 'PT Sans', sans-serif;
}
.projecta {
  color: whitesmoke;
  font-size: x-large;
}
.portfolio-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.portfolio-header {
  font-family: 'Calligraffitti', cursive;
  font-family: 'PT Sans', sans-serif;
  font-size: 50px;
}
.project-title {
  font-family: 'Calligraffitti', cursive;
  font-family: 'PT Sans', sans-serif;
}
