.cards{
    display: flex;
    flex-wrap: wrap;
}
li {
    width: 100%;
}
.project-icon {
    height: 150px;
    width: 150px;
}
.project-card {
    /* background-color: #1f111ac4; */
    background-color: #946f6dbd;;
}
.project-btn{
    justify-content: center;
  }
a {
    color: black;
    font-size: x-large;
}
li {
    display: inline-block;
    margin-top: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: large;
    text-align: center;
    padding: 5px;
  }
  .portfolio-header {
    margin-left: 35%;
  }
  .projecta {
      color: whitesmoke;
  }
